/* CSS do container de cada publicação */
.pub-container {
    width: 90%;
    margin: 5px auto;
}

.pub-container div {
    display: flex;
    align-items: center;
    padding: 5px;
}
.pub-image-position {
    margin: unset;
}
.pub-container div label {
    width: 80%;
    margin-left: 10px;
}

@media screen and (min-width: 600px) {

}
